In [5]:
import pandas as pd
import numpy as np

In [28]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split

In [29]:
df = pd.read_csv('covid_toy.csv')

In [32]:
X_train, X_test, y_train, y_test = train_test_split(df.drop(columns=['has_covid']),df['has_covid'],test_size=0.2)

In [34]:
X_train

    age  gender  fever   cough       city
16   69  Female  103.0    Mild    Kolkata
71   75  Female  104.0  Strong      Delhi
36   38  Female  101.0    Mild  Bangalore
92   82  Female  102.0  Strong    Kolkata
7    20  Female    NaN  Strong     Mumbai
..  ...     ...    ...     ...        ...
99   10  Female   98.0  Strong    Kolkata
41   82    Male    NaN    Mild    Kolkata
50   19    Male  101.0    Mild      Delhi
9    64  Female  101.0    Mild      Delhi
55   81  Female  101.0    Mild     Mumbai

[80 rows x 5 columns]

In [37]:
transformer = ColumnTransformer(transformers=[
    ('tnf1', SimpleImputer(),['fever']),
    ('tnf2', OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3', OneHotEncoder(sparse=False, drop='first'),['gender','city'])
],remainder='passthrough')

In [40]:
transformer.fit_transform(X_train).shape

(80, 7)

In [41]:
transformer.fit_transform(X_test).shape

(20, 7)

This code defines a ColumnTransformer named 'transformer' that applies different preprocessing techniques: imputation to handle missing values for 'fever', ordinal encoding for 'cough' with categories 'Mild' and 'Strong', and one-hot encoding for 'gender' and 'city' while ignoring the first category. It retains other columns unchanged ('passthrough') in the dataset.