In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [25]:
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
webpage=requests.get('https://www.ambitionbox.com/list-of-companies?page=1',headers=headers).text

In [26]:
soup=BeautifulSoup(webpage,'lxml')

In [29]:
company=soup.find_all('div', class_='companyCardWrapper')

In [30]:
len(company)

20

In [75]:
final=pd.DataFrame()
name=[]
reviews=[]


for i in company:
    name.append(i.find('h2').text.strip())
    reviews.append(i.find('a',class_='companyCardWrapper__ActionWrapper').text.strip())
d={'name':name,'reviews':reviews}
df=pd.DataFrame(d)
final=final.append(df)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_9472\1085367220.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df)

In [76]:
final

                       name        reviews
0                       TCS  69.1k Reviews
1                 Accenture  43.8k Reviews
2                 Cognizant  39.3k Reviews
3                     Wipro  36.8k Reviews
4                 HDFC Bank  31.7k Reviews
5                ICICI Bank  31.6k Reviews
6                   Infosys  29.9k Reviews
7                 Capgemini  27.8k Reviews
8                   HCLTech  26.6k Reviews
9             Tech Mahindra    26k Reviews
10                  Genpact  24.8k Reviews
11                Axis Bank  20.8k Reviews
12   Concentrix Corporation  20.5k Reviews
13                   Amazon  19.7k Reviews
14          Teleperformance  19.5k Reviews
15             Reliance Jio  18.9k Reviews
16                      IBM  18.9k Reviews
17  Larsen & Toubro Limited  17.6k Reviews
18          Reliance Retail  17.3k Reviews
19   HDB Financial Services  16.6k Reviews